<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="Nombre" value="WSEmpleoAPI"/>
    <add key="Source" value="C:\Temp\Publish\WSEmpleoAPI\"/>
    <add key="SQL" value="C:\Temp\Publish\SQL\"/>
    <add key="Scripts" value="C:\Temp\Publish\Scripts\"/>
    <add key="ExcludeFiles" value="Web.Config"/>
    <add key="ExcludeDirs" value="Config"/>
</appSettings>
